.bet-table>tbody>tr>td:nth-child(4), .bet-table>tbody>tr>td:nth-child(5), .bet-table>tbody>tr>td:nth-child(6), .bet-table>tbody>tr>td:nth-child(8), .bet-table>tbody>tr>td:nth-child(9), .bet-table>tbody>tr>td:nth-child(10), .bet-table>tbody>tr>td:nth-child(11) {
    text-align: center;
}

.bet-table>tbody>tr>td:nth-child(7) {
    text-align: right;
    padding-right: 15px;
}

/*header */

.bet-table>thead>tr>th:nth-child(1) {
    min-width: 150px;
}

.bet-table>thead>tr>th:nth-child(2) {
    min-width: 170px;
}

.bet-table>thead>tr>th:nth-child(3) {
    min-width: 250px;
}

.bet-table>thead>tr>th:nth-child(7) {
    min-width: 80px;
}

/* col */

.Live {
    color: white;
    background: green;
    border-radius: 10px;
    font-size: 12px;
    max-width: 75px;
}

.PreLive {
    color: white;
    background: blue;
    border-radius: 10px;
    font-size: 12px;
    max-width: 75px;
}

.pt-div {
    text-align: center;
    background: orange;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    max-width: 75px;
    font-size: 12px;
    padding: 2px 0px;
}

.pt-div-PT {
    background: red;
}

.pt-div-NOPT {
    background: gray
}

.pt-text {
    color: orange;
}

.pt-text-PT {
    color: red;
}

.pt-text-NOPT {
    color: gray;
}

.selection-team {
    font-weight: bold;
}

.DROP {
    text-align: center;
    background: red;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 12px;
    padding: 2px 6px;
}

.WIN, .LOSE {
    color: white;
    background: blue;
    border-radius: 10px;
    font-size: 12px;
}