.severity-box-Low {
    background-color: #28a745;
}

.severity-box-Normal {
    background-color: #ffc107;
}

.severity-box-High {
    background-color: #dc3545;
}

.severity-text-Low {
    color: #28a745;
}

.severity-text-Normal {
    color: #ffc107;
}

.severity-text-High {
    color: #dc3545;
}