.search>.row>.form-group>label:nth-child(1){
    min-width: 100px;
}

.risk-tagging>thead>tr>th:nth-last-child(){
    min-width: 180px
}

.modal-header{
    padding-bottom: 0px;
}
.nav-tabs{
    border-bottom: unset;
    clear: both;
}

.userNameBookies{
    min-width: 250px!important;
}