<loading *ngIf="is.loading || is.init"></loading>
<div class="container">
    <header class="pageHeader">
        <h3>
            <i class="fa fa-lg page-caption" aria-hidden="true"></i>Risk Tagging
        </h3>
    </header>

    <div class="search">
        <div class="row">
            <div class="form-group">
                <label class="control-label col-sm-1">Keyword</label>
                <div class="col-sm-3" (keyup.enter)="search()">
                    <input [(ngModel)]="searchParams.keyword" type="text" placeholder="Keyword" class="form-control" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <label class="control-label col-sm-1">File</label>
                <input #file type="file" name="fileRiskTag" class="btn" />
                <span style="font-weight:bold;color:green;" *ngIf="progress > 0 && progress < 100">
                    {{progress}}%
                </span>
                <span style="font-weight:bold;color:green;" *ngIf="message">
                    {{message}}
                </span>
            </div>
        </div>

        <div class="row control-but">
            <button class="btn btn-primary " (click)="search()"><i *ngIf="false"
                    class='fa fa-circle-o-notch fa-spin'></i>Search</button>
            <button class="btn btn-success" (click)="upload(file.files[0])">
                <i *ngIf="is.import" class='fa fa-circle-o-notch fa-spin'></i> {{is.import?'Importing...':'Import'}}
            </button>
            <button [disabled]="is.exportAll" type="button" class="btn btn-success" (click)="exportAll()">
                <i *ngIf="is.exportAll" class='fa fa-circle-o-notch fa-spin'></i>
                <span> {{is.exportAll?'Exporting...':'Export'}}</span>
                <span class="info-icon"><i class="fa fa-info-circle" popover="Search and save result to file"
                        triggers="mouseenter:mouseleave" containerClass="popover-bets"></i></span>
            </button>
            <button class="btn btn-success" (click)="newRow()">New</button>

            <div class="pull-right">
                <div class="btn-group" dropdown #dropdown="bs-dropdown" [autoClose]="false">
                    <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                        (click)="updateFieldList(dropdown.isOpen)">
                        <i class="fas fa-ellipsis-v"></i>
                    </button>
                    <ul *dropdownMenu class="dropdown-menu" role="menu">
                        <li role="menuitem" *ngFor="let field of fields">
                            <a class="dropdown-item">
                                <input [disabled]="field.prop=='fullName'" type="checkbox" [(ngModel)]="field.show"
                                    (click)="fixedHeader.getWidthForHeader()" [ngModelOptions]="{standalone: true}"
                                    class="">{{field.name}}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="is.data" class="page-state">
    <div>
        Showing {{(searchParams.page.index-1)*searchParams.page.size+1}} to
        {{searchParams.page.index*searchParams.page.size>pagin.totalItems?pagin.totalItems:searchParams.page.index*searchParams.page.size}}
        of {{pagin.totalItems}} records
    </div>

    <pagination [boundaryLinks]="true" previousText="Previous" nextText="Next" firstText="First"
        lastText="Last ({{pagin.totalPages}})" [totalItems]="pagin.totalItems" [itemsPerPage]="searchParams.page.size"
        [maxSize]="pagin.maxSize" [ngModel]="searchParams.page.index" (pageChanged)="pageChanged($event)">
    </pagination>

    <span class="form-group">
        <span>Page size: </span>
        <select [(ngModel)]="searchParams.page.size" (change)="search()" class="form-control">
            <option>50</option>
            <option>100</option>
            <option>250</option>
            <option>500</option>
            <option>1000</option>
            <option>2000</option>
            <option>5000</option>
        </select>
    </span>

    <button *ngIf="!is.loading" [disabled]="is.exportCur || !is.data" type="button" class="btn btn-success exportCur"
        (click)="exportCur()">
        <i *ngIf="is.exportCur" class='fa fa-circle-o-notch fa-spin'></i> Export page
        {{searchParams.page.index}}</button>
</div>

<div [@fadeInOut]>
    <table class="table table-bordered risk-tagging">
        <thead style="display: none">
            <tr>
                <ng-container *ngFor="let field of fields">
                    <th *ngIf="field.prop=='fullName'" [hidden]="!field.show" [ngClass]="field.prop">
                        <span>{{field.name}}</span>
                        <span class="info-icon"><i class="fa fa-info-circle" [popover]="popTemplate" placement="bottom"
                                triggers="mouseenter:mouseleave" containerClass="popover-risktag"></i></span></th>
                    <th *ngIf="field.prop!='fullName'" [hidden]="!field.show" [ngClass]="field.prop">{{field.name}}</th>
                </ng-container>
                <th>Action</th>
            </tr>
        </thead>
        <thead>
            <tr>
                <ng-container *ngFor="let field of fields">
                    <th *ngIf="field.prop=='fullName'" [hidden]="!field.show" [ngClass]="field.prop">
                        <span>{{field.name}}</span>
                        <span class="info-icon"><i class="fa fa-info-circle" [popover]="popTemplate" placement="top"
                                triggers="mouseenter:mouseleave" containerClass="popover-risktag"></i></span></th>
                    <th *ngIf="field.prop!='fullName'" [hidden]="!field.show" [ngClass]="field.prop">{{field.name}}</th>
                </ng-container>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let r of rowsView; let i=index">
                <tr [ngClass]="r.css_status">
                    <td *ngFor="let field of fields" [hidden]="!field.show" style="max-width:150px"
                        (dblclick)="scrollToRight()" [ngSwitch]="field.prop">
                        <ng-container *ngSwitchCase="'fullName'">
                            <div>{{r[field.prop]}}</div>
                            <div><span *ngIf="r.kyc=='VERIFIED'" class="VERIFIED">VERIFIED</span></div>
                        </ng-container>

                        <ng-container *ngSwitchCase="'userNameBookies'">
                            <ng-container *ngFor="let userNB of r[field.prop]">
                                <div class="row">
                                    <div class="col-sm-2" style="min-width: 100px">{{userNB.bookieName}}</div>
                                    <span>{{userNB.userName}}</span>
                                    <span *ngIf="userNB.bookieName=='PINBET'"> ({{r.positionTagName}})</span>
                                </div>
                            </ng-container>
                        </ng-container>

                        <ng-container *ngSwitchCase="'positionTagValue'">
                            <div [ngClass]="r.css_memberPt">{{r['positionTagName']}}</div>
                        </ng-container>

                        <ng-container *ngSwitchDefault>
                            <div>{{r[field.prop]}}</div>
                        </ng-container>
                    </td>
                    <td>
                        <button (click)="edit(i)" type="button" class="btn btn-success" style="margin-right: 5px"><i
                                class="fa fa-pencil-square-o"></i>&nbsp;Edit</button>
                        <button (click)="delete(i)" type="button" class="btn btn-danger"><i
                                class="fa fa-trash"></i>&nbsp;Delete</button>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>

<div *ngIf="is.data" class="page-state">
    <div>
        Showing {{(searchParams.page.index-1)*searchParams.page.size+1}} to
        {{searchParams.page.index*searchParams.page.size>pagin.totalItems?pagin.totalItems:searchParams.page.index*searchParams.page.size}}
        of {{pagin.totalItems}} records
    </div>

    <pagination [boundaryLinks]="true" previousText="Previous" nextText="Next" firstText="First"
        lastText="Last ({{pagin.totalPages}})" [totalItems]="pagin.totalItems" [itemsPerPage]="searchParams.page.size"
        [maxSize]="pagin.maxSize" [ngModel]="searchParams.page.index" (pageChanged)="pageChanged($event)">
    </pagination>

    <span class="form-group">
        <span>Page size: </span>
        <select [(ngModel)]="searchParams.page.size" (change)="search()" class="form-control">
            <option>50</option>
            <option>100</option>
            <option>250</option>
            <option>500</option>
            <option>1000</option>
            <option>2000</option>
            <option>5000</option>
        </select>
    </span>

    <button *ngIf="!is.loading" [disabled]="is.exportCur || !is.data" type="button" class="btn btn-success exportCur"
        (click)="exportCur()">
        <i *ngIf="is.exportCur" class='fa fa-circle-o-notch fa-spin'></i> Export page
        {{searchParams.page.index}}</button>
</div>

<div bsModal #editModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
    <div class="modal-dialog modal-lg" style="background-color: white">
        <form #f="ngForm" *ngIf="editModel">
            <div class="modal-header">
                <h4 class="modal-title pull-left">{{editIndex>-1?"Edit":"New"}}&nbsp;Risk Tagging</h4>
                <button type="button" class="close pull-right" (click)="closeModal()">
                    <span>&times;</span>
                </button>

                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#tab_inf" data-toggle="tab">Info</a>
                    </li>
                    <li>
                        <a href="#tab_bnp" data-toggle="tab">Bookie & PT</a>
                    </li>
                </ul>
            </div>

            <div class="modal-body">
                <div class="tab-content">

                    <div class="tab-pane active" id="tab_inf">
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label class="control-label">Full Name</label>
                                <input [(ngModel)]="editModel.fullName" #fullName="ngModel" name="fullName" required
                                    minlength="2" class="form-control" placeholder="Full Name" autocomplete="off">
                                <ng-container *ngIf="fullName.invalid && (fullName.dirty || fullName.touched)">
                                    <span *ngIf="fullName.errors.required" class="errorMessage">
                                        Full Name is required
                                    </span>
                                    <span *ngIf="fullName.errors.minlength" class="errorMessage">
                                        Full Name at least 2 characters
                                    </span>
                                </ng-container>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label class="control-label">Country</label>
                                <select [(ngModel)]="editModel.country" #country="ngModel" name="country" required
                                    minlength="2" class="form-control">
                                    <option [value]="undefined" [disabled]="true">Select country</option>
                                    <option *ngFor="let country of countries" [value]="country.name">{{country.name}}
                                    </option>
                                </select>
                                <ng-container *ngIf="country.invalid && (country.dirty || country.touched)">
                                    <span *ngIf="country.errors.required" class="errorMessage">
                                        Country is required
                                    </span>
                                </ng-container>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label class="control-label">Date of Birth</label>
                                <input [(ngModel)]="editModel.dateOfBirth" [bsValue]="editModel.dateOfBirth" type="text"
                                    placeholder="Date of Birth" class="form-control" bsDatepicker
                                    [bsConfig]="{containerClass: 'theme-dark-blue', dateInputFormat: 'DD/MM/YYYY'}"
                                    #dateOfBirth="ngModel" name="dateOfBirth" [minDate]="minDate" autocomplete="off" />
                                <ng-container *ngIf="dateOfBirth.invalid && (dateOfBirth.dirty || dateOfBirth.touched)">
                                    <span *ngIf="dateOfBirth.errors.required" class="errorMessage">
                                        Date of Birth is required
                                    </span>
                                    <span *ngIf="!dateOfBirth.errors.required" class="errorMessage">
                                        Date of Birth invalid
                                    </span>
                                </ng-container>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label class="control-label">Date of Start</label>
                                <input [(ngModel)]="editModel.dateOfStart" [bsValue]="editModel.dateOfStart" type="text"
                                    placeholder="Date of Start" class="form-control" bsDatepicker
                                    [bsConfig]="{containerClass: 'theme-dark-blue', dateInputFormat: 'DD/MM/YYYY'}"
                                    #dateOfStart="ngModel" name="dateOfStart" [minDate]="minDate" autocomplete="off" />
                                <ng-container *ngIf="dateOfStart.invalid && (dateOfStart.dirty || dateOfStart.touched)">
                                    <!--<span *ngIf="dateOfStart.errors.required" class="errorMessage">
                          Date of Start is required
                        </span> -->
                                    <span *ngIf="!dateOfStart.errors.required" class="errorMessage">
                                        Date of Start invalid
                                    </span>
                                </ng-container>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label class="control-label">Currency</label>
                                <input [(ngModel)]="editModel.currency" #currency="ngModel" name="currency" required
                                    minlength="2" class="form-control" placeholder="Currency">
                                <ng-container *ngIf="currency.invalid && (currency.dirty || currency.touched)">
                                    <span *ngIf="currency.errors.required" class="errorMessage">
                                        Currency is required
                                    </span>
                                    <span *ngIf="currency.errors.minlength" class="errorMessage">
                                        Currency at least 2 characters
                                    </span>
                                </ng-container>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label class="control-label">Bonus</label>
                                <input [(ngModel)]="editModel.bonus" name="bonus" class="form-control"
                                    placeholder="Bonus">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label class="control-label">Status</label>
                                <select [(ngModel)]="editModel.status" #status="ngModel" name="status" required
                                    class="form-control" [ngClass]="editModel.css_status">
                                    <option [value]="undefined" [disabled]="true">Select status</option>
                                    <option *ngFor="let status of statuses" [value]="status.value"
                                        [ngClass]="status.css">{{status.name}}
                                    </option>
                                </select>
                                <ng-container *ngIf="status.invalid && (status.dirty || status.touched)">
                                    <span *ngIf="status.errors.required" class="errorMessage">
                                        Status is required
                                    </span>
                                </ng-container>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label class="control-label">KYC</label>
                                <input [(ngModel)]="editModel.kyc" name="kyc" class="form-control" placeholder="KYC">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label class="control-label">First Dep Eur Btc</label>
                                <input [(ngModel)]="editModel.firstDepEurBtc" name="firstDepEurBtc" class="form-control"
                                    placeholder="First Dep Eur Btc">
                            </div>

                            <div class="col-sm-6 form-group">
                                <label class="control-label">First Dep Gbp</label>
                                <input [(ngModel)]="editModel.firstDepGbp" name="firstDepGbp" class="form-control"
                                    placeholder="First Dep Gbp">
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" id="tab_bnp">
                        <div class="row form-group">
                            <div class="col-sm-6">
                                <label class="control-label">Pin Bet</label>
                                <input [(ngModel)]="editModel.pinBet" name="pinBet" class="form-control"
                                    placeholder="Pin Bet">
                            </div>

                            <div class="col-sm-6">
                                <label class="control-label">Position Tag</label>
                                <select [(ngModel)]="editModel.positionTagValue" #positionTag="ngModel"
                                    name="positionTag" required class="form-control">
                                    <option [value]="undefined" [disabled]="true">Select position tag</option>
                                    <option *ngFor="let pt of positionTags" [value]="pt.value">{{pt.name}}</option>
                                    <option [value]="-1">New position tag</option>
                                </select>
                                <ng-container *ngIf="positionTag.invalid && (positionTag.dirty || positionTag.touched)">
                                    <span *ngIf="positionTag.errors.required" class="errorMessage">
                                        Position tag is required
                                    </span>
                                </ng-container>
                            </div>

                            <div class="col-sm-6" *ngIf="editModel.positionTagValue==-1"></div>
                            <div class="col-sm-6" *ngIf="editModel.positionTagValue==-1" style="margin-top: 5px">

                                <label class="control-label col-sm-3">Name</label>
                                <div class="col-sm-9">
                                    <input [(ngModel)]="newPositionTag.name" type="text" name="newPositionTagName"
                                        #newPositionTagName="ngModel" placeholder="Position tag name"
                                        class="form-control" required minlength="2">
                                    <ng-container
                                        *ngIf="newPositionTagName.invalid && (newPositionTagName.dirty || newPositionTagName.touched)">
                                        <span *ngIf="newPositionTagName.errors.required" class="errorMessage">
                                            Name is required
                                        </span>
                                        <span *ngIf="newPositionTagName.errors.minlength" class="errorMessage">
                                            Name at least 2 characters
                                        </span>
                                    </ng-container>
                                </div>

                                <label class="control-label col-sm-3">Value(%)</label>
                                <div class="col-sm-9">
                                    <input [(ngModel)]="newPositionTag.value" required type="number"
                                        name="newPositionTagValue" #newPositionTagValue="ngModel"
                                        placeholder="Position tag value" class="form-control" [range]="[0,1]">
                                    <ng-container
                                        *ngIf="newPositionTagValue.invalid && (newPositionTagValue.dirty || newPositionTagValue.touched)">
                                        <span *ngIf="newPositionTagValue.errors.required" class="errorMessage">
                                            Value is required
                                        </span>
                                        <span *ngIf="newPositionTagValue.errors.range" class="errorMessage">
                                            Value range is [0,1]
                                        </span>
                                    </ng-container>
                                </div>

                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-sm-6">
                                <label class="control-label">Max Bet</label>
                                <input [(ngModel)]="editModel.maxBet" name="maxBet" class="form-control"
                                    placeholder="Max Bet">
                            </div>

                            <div class="col-sm-6">
                                <label class="control-label">SBO Bet</label>
                                <input [(ngModel)]="editModel.sboBet" name="sboBet" class="form-control"
                                    placeholder="SBO Bet">
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-sm-6">
                                <label class="control-label">Skype Betting</label>
                                <input [(ngModel)]="editModel.skypeBet" name="skypeBet" class="form-control"
                                    placeholder="Skype Betting">
                            </div>

                            <div class="col-sm-6">
                                <label class="control-label">Sing Bet</label>
                                <input [(ngModel)]="editModel.singBet" name="singBet" class="form-control"
                                    placeholder="Sing Bet">
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-sm-6">
                                <label class="control-label">Bet ISN</label>
                                <input [(ngModel)]="editModel.betIsn" name="betIsn" class="form-control"
                                    placeholder="Bet ISN">
                            </div>

                            <div class="col-sm-6">
                                <label class="control-label">Match Book</label>
                                <input [(ngModel)]="editModel.matchBook" name="matchBook" class="form-control"
                                    placeholder="Match Book">
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-sm-6">
                                <label class="control-label">AO(EU)</label>
                                <input [(ngModel)]="editModel.aoEu" name="aoEu" class="form-control"
                                    placeholder="AO(EU)">
                            </div>

                            <div class="col-sm-6">
                                <label class="control-label">AO(GB)</label>
                                <input [(ngModel)]="editModel.aoGb" name="aoGb" class="form-control"
                                    placeholder="AO(GB)">
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-sm-6">
                                <label class="control-label">GA288</label>
                                <input [(ngModel)]="editModel.ga288" name="ga288" class="form-control"
                                    placeholder="GA288">
                            </div>

                            <div class="col-sm-6">
                                <label class="control-label">9WICKETS</label>
                                <input [(ngModel)]="editModel.nightWickets" name="nightWickets" class="form-control"
                                    placeholder="9WICKETS">
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-sm-6">
                                <label class="control-label">Orb(EU)</label>
                                <input [(ngModel)]="editModel.orbEu" name="orbEu" class="form-control"
                                    placeholder="Orb(EU)">
                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <div class="modal-footer">
                <button (click)="cancelEdit()" type="button" class="btn btn-danger" style="margin-right: 5px">
                    <i class='fa fa-times'></i>&nbsp;Cancel
                </button>
                <button [disabled]="!f.form.valid" (click)="updateRow()" type="submit" class="btn btn-primary">
                    <i *ngIf="!is.saving" class='fa fa-save'></i>
                    <i *ngIf="is.saving" class='fa fa-circle-o-notch fa-spin'></i>&nbsp;Save
                </button>
            </div>
        </form>
    </div>
</div>

<div class="new-button">
    <i class="fas fa-plus-circle fa-2x" (click)="newRow()"></i>
</div>

<ng-template #popTemplate>
    <span style="color:red">Red</span>
    <span style="color:black"> row is </span>
    <span style="color:red">Inactive</span></ng-template>