<loading *ngIf="is.loading" [unitname]="'mins'"></loading>
<button class="showmenutoasty" (click)="toggle()" *ngIf="!showNotify"></button>
<div class="menutoasty" *ngIf="showNotify">
    <div class="menutoasty2">
        <button class="closemenutoasty" (click)="toggle()"></button>
        <div class="menutoasty3">
            Notification
        </div>
    </div>
    <ng2-toasty>
    </ng2-toasty>
</div>

<div class="container">
    <div class="row">
        <header class="pageHeader">
            <h3>Real-time Bets</h3>
        </header>
    </div>
</div>

<div [@fadeInOut]>
    <button [disabled]="isExporting" type="button" class="btn btn-success pull-right" (click)="btnExport_Click()"
        style="margin-bottom: 5px;">
        <i *ngIf="isExporting" class='fa fa-circle-o-notch fa-spin'></i> {{isExporting?'Exporting...':'Export Top 500'}}
    </button>

    <table class="table table-bordered bet-table realtime-bets">
        <thead style="display: none">
            <tr>
                <th>Source/Member</th>
                <th>Bet Details</th>
                <th>Match Details</th>
                <th>Stake</th>
                <th>Placed Odds</th>
                <th>Last Odds</th>
                <th>
                    <div>D1 (1m)</div>
                    <div>D2 (6m)</div>
                    <div>D3 (11m)</div>
                </th>
                <th>Market</th>
                <th>Match Status</th>
            </tr>
        </thead>
        <thead>
            <tr>
                <th>Source/Member</th>
                <th>Bet Details</th>
                <th>Match Details</th>
                <th>Stake</th>
                <th>Placed Odds</th>
                <th>Last Odds</th>
                <th>
                    <div>D1 (1m)</div>
                    <div>D2 (6m)</div>
                    <div>D3 (11m)</div>
                </th>
                <th>Market</th>
                <th>Match Status</th>
            </tr>
        </thead>
        <tbody>
            <!-- insertTr -->
        </tbody>
    </table>
</div>

<violation-detail #detail [showButton]="false" [oneModal]="true"></violation-detail>