<loading *ngIf="is.loading"></loading>
<div class="container">
    <header class="pageHeader">
        <h3>
            <i class="fa fa-lg page-caption" aria-hidden="true"></i>Risk Tag Logs
        </h3>
    </header>

    <div class="search" (keyup.enter)="search()">
        <div class="row">
            <div class="form-group">
                <label class="control-label col-md-1">Key word</label>
                <div class="col-md-3">
                    <input [(ngModel)]="searchParams.keyword" type="text" placeholder="Key word" class="form-control" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <label class="control-label col-md-1">Updated date</label>
                <div class="col-md-3">
                    <input [(ngModel)]="searchParams.date._fromDate" type="text" placeholder="Status"
                        class="form-control" bsDatepicker
                        [bsConfig]="{containerClass: 'theme-dark-blue', dateInputFormat: 'DD/MM/YYYY'}" />
                </div>
                <label class="control-label col-md-1">To</label>
                <div class="col-md-3">
                    <input [(ngModel)]="searchParams.date._toDate" type="text" placeholder="Severity"
                        class="form-control" bsDatepicker
                        [bsConfig]="{containerClass: 'theme-dark-blue', dateInputFormat: 'DD/MM/YYYY'}" />
                </div>
            </div>
        </div>

        <div class="row">
            <button type="button" class="btn btn-primary" (click)="search()">Search</button>&nbsp;
        </div>
    </div>
</div>

<div *ngIf="is.data" class="page-state">
    <div>
        Showing {{(searchParams.page.index-1)*searchParams.page.size+1}} to
        {{searchParams.page.index*searchParams.page.size>pagin.totalItems?pagin.totalItems:searchParams.page.index*searchParams.page.size}}
        of {{pagin.totalItems}} records
    </div>

    <pagination [boundaryLinks]="true" previousText="Previous" nextText="Next" firstText="First"
        lastText="Last ({{pagin.totalPages}})" [totalItems]="pagin.totalItems" [itemsPerPage]="searchParams.page.size"
        [maxSize]="pagin.maxSize" [ngModel]="searchParams.page.index" (pageChanged)="pageChanged($event)">
    </pagination>

    <span class="form-group">
        <span>Page size: </span>
        <select [(ngModel)]="searchParams.page.size" (change)="search()" class="form-control">
            <option>50</option>
            <option>100</option>
            <option>250</option>
            <option>500</option>
            <option>1000</option>
            <option>2000</option>
            <option>5000</option>
        </select>
    </span>
</div>

<div [@fadeInOut]>
    <table class="table table-bordered rtl">
        <thead style="display: none">
            <tr>
                <th>Action</th>
                <th>Updated By</th>
                <th>Updated Date</th>
                <th>Audit</th>
            </tr>
        </thead>
        <thead>
            <tr>
                <th>Action</th>
                <th>Updated By</th>
                <th>Updated Date</th>
                <th>Audit</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let r of rowsView">
                <td>{{r.action}}</td>
                <td>{{r.updatedBy}}</td>
                <td>{{r.updatedDate}}</td>
                <td>
                    <span>Full name : {{r.fullName}}</span>
                    <span *ngFor="let aud of r.auditValues"><br />{{aud}}</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div *ngIf="is.data" class="page-state">
    <div>
        Showing {{(searchParams.page.index-1)*searchParams.page.size+1}} to
        {{searchParams.page.index*searchParams.page.size>pagin.totalItems?pagin.totalItems:searchParams.page.index*searchParams.page.size}}
        of {{pagin.totalItems}} records
    </div>

    <pagination [boundaryLinks]="true" previousText="Previous" nextText="Next" firstText="First"
        lastText="Last ({{pagin.totalPages}})" [totalItems]="pagin.totalItems" [itemsPerPage]="searchParams.page.size"
        [maxSize]="pagin.maxSize" [ngModel]="searchParams.page.index" (pageChanged)="pageChanged($event)">
    </pagination>

    <span class="form-group">
        <span>Page size: </span>
        <select [(ngModel)]="searchParams.page.size" (change)="search()" class="form-control">
            <option>50</option>
            <option>100</option>
            <option>250</option>
            <option>500</option>
            <option>1000</option>
            <option>2000</option>
            <option>5000</option>
        </select>
    </span>
</div>