<div id="app_container" class="{{configurations.theme | lowercase}}-theme">
  <ngx-toasta></ngx-toasta>
  <div class='container'>
    <nav id="header" class="app-component navbar navbar-inner navbar-fixed-top">
      <nav class="container">
        <div class="navbar-header">
          <button type="button" class="app-component navbar-toggle collapsed" data-toggle="collapse" data-target=".menuItemsContainer.app-component"
            aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <div *ngIf="isUserLoggedIn" class="app-component collapse navbar-collapse menuItemsContainer" #navBar>
          <ul class="app-component nav navbar-nav nav-pills navBarPadding">
            <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="hideBar()">
              <a routerLink=""><span class="glyphicon glyphicon-home"></span></a>
            </li>
            <li routerLinkActive="active" *ngIf="canViewOdds" (click)="hideBar()">
              <a routerLink="/real-time-bets">Real-time Bets</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink1" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Bets info <i class="fas fa-caret-down"></i>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1" (click)="hideBar()">
            <li routerLinkActive="active" *ngIf="canViewOdds">
              <a routerLink="/bets-history">Bets History</a>
            </li>
            <div class="dropdown-divider"></div>
            <li routerLinkActive="active" *ngIf="canViewOdds">
              <a routerLink="/outstanding-bets">Outstanding Bets</a>
            </li>
            <div class="dropdown-divider"></div>
            <li routerLinkActive="active" *ngIf="canViewOdds">
              <a routerLink="/settled-bets">Settled Bets</a>
            </li>
        </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Risk info <i class="fas fa-caret-down"></i>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2" (click)="hideBar()">
        <li routerLinkActive="active" *ngIf="canViewOdds">
          <a routerLink="/risk-tagging">Risk Tagging</a>
        </li>
        <li routerLinkActive="active" *ngIf="canViewOdds">
          <a routerLink="/risk-tag-logs">Risk Tag Logs</a>
        </li>
  </div>
  </li>
  <li routerLinkActive="active" *ngIf="canViewOdds" (click)="hideBar()">
    <a routerLink="/agent-accounts">Agent Accounts</a>
  </li>
  <li routerLinkActive="active" *ngIf="canViewOdds" (click)="hideBar()">
    <a routerLink="/smart-rules">Smart Rules</a>
  </li>
  <li routerLinkActive="active" *ngIf="canViewOdds" (click)="hideBar()">
    <a routerLink="/violations">Violations</a>
  </li>
  </ul>
  <ul class="app-component nav navbar-nav nav-pills navBarPadding navbar-right">
    <li (click)="logout()">
      <a href="javascript:;">
        <span class="glyphicon glyphicon-log-out"></span> {{'mainMenu.Logout' | translate}}
      </a>
    </li>
  </ul>
  <p class="app-component navbar-text navbar-right notifications-popup">
    {{'app.Welcome' | translate}} {{userName}},
  </p>
  <!-- clone noti of QuickApp -->
  <!-- <p class="app-component navbar-text navbar-right notifications-popup">
          {{'app.Welcome' | translate}}
          <a class="app-component navbar-link user-name" [popover]="popTemplate" (onHidden)="markNotificationsAsRead()" placement="bottom" [popoverTitle]="notificationsTitle" href="javascript:;" triggers="focus">
            {{userName}}
            <span *ngIf="newNotificationCount > 0" class="badge">{{newNotificationCount}}</span>
          </a>,
        </p> -->


  <ng-template #popTemplate>
    <notifications-viewer [isViewOnly]="true"></notifications-viewer>
  </ng-template>

  <ul class="app-component nav navbar-nav nav-pills navBarPadding navbar-right">
    <li routerLinkActive="active" (click)="hideBar()"><a routerLink="/settings"><span class="glyphicon glyphicon-cog"></span></a></li>
  </ul>
</div>
<div *ngIf="!isUserLoggedIn && router.isActive('/about', false)" class="app-component collapse navbar-collapse menuItemsContainer">
  <ul class="app-component nav navbar-nav nav-pills navBarPadding navbar-right">
    <li routerLinkActive="active"><a routerLink="/login"><span class="glyphicon glyphicon-log-in"></span></a></li>
  </ul>
</div>
<div *ngIf="!isUserLoggedIn && router.isActive('/login', false) || false" class="app-component collapse navbar-collapse menuItemsContainer">
  <ul class="app-component nav navbar-nav nav-pills navBarPadding navbar-right">
    <li routerLinkActive="active"><a routerLink="/about"><span class="glyphicon glyphicon-info-sign"></span></a></li>
  </ul>
</div>

</nav>
</nav>

<div id="pre-bootstrap" *ngIf="!removePrebootScreen" [class.prebootShow.app-component]="!isAppLoaded" class="app-component prebootStep">
  <div class="messaging">
    <h1>
      Loaded!
    </h1>
    <p>
      zimitech.vn - <span class="appName" style="font-style:italic"></span><span class="appName">GravityIO</span>
      &copy; <a href="http://zimitech.vn">zimitech.vn</a>
    </p>

  </div>
</div>

<div id="mainContent" class="app-component">

  <router-outlet></router-outlet>
</div>

<div id="footer">
  <div class="app-component navbar-fixed-bottom navbar-inner footer">
    <div class="container">
      <footer>
        <div class="app-component vcenter_text center-block">
          <p class="text-center text-muted">
            <span class="appName" style="font-style:italic"></span><span class="appName">GravityIO</span>
            &copy;
            {{getYear()}}
            <a href="http://zimitech.vn" target="_blank">zimitech.vn</a>
          </p>
        </div>
      </footer>
    </div>
  </div>
</div>
</div>
<div *ngIf="shouldShowLoginModal" class="modal fade" bsModal #loginModal="bs-modal" (onShown)="onLoginModalShown()"
  (onHidden)="onLoginModalHidden()" (onHide)="onLoginModalHide()" [config]="{backdrop: 'static'}" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <app-login #loginControl isModal="true"></app-login>
  </div>
</div>
<div style="position: fixed; bottom: 0; right: 10px; color: black; z-index: 1000; line-height: 40px">
  <b>
    {{ now | date: 'dd/MM/yyy HH:mm:ss': configurations.timeZone }} {{
    '(UTC' + configurations.sign +
    configurations.time + ')'
    }}
  </b>
</div>
</div>