<div id="pre-bootstrap" #loadingScreen>
    <div class="messaging">
        <h1>
            App is loading...
        </h1>
        <div class="cs-loader">
            <div class="cs-loader-inner">
                <label>&#9679;</label>
                <label>&#9679;</label>
                <label>&#9679;</label>
                <label>&#9679;</label>
                <label>&#9679;</label>
                <label>&#9679;</label>
            </div>
        </div>
    </div>
</div>