<loading *ngIf="is.loading"></loading>
<div class="container">
    <div class="row">
        <header class="pageHeader">
            <h3>
                <i class="fa fa-lg page-caption"></i>Outstanding Bets
            </h3>
        </header>
    </div>

    <div class="form-group">
        <div class="row" (keyup.enter)="search()">
            <query-builder [(ngModel)]="searchParams._query" [config]="searchParams._query.config"></query-builder>
        </div>

        <div class="row control-but">
            <button type="button" class="btn btn-primary" (click)="search()">Search</button>
            <button [disabled]="is.exportAll" type="button" class="btn btn-success" (click)="exportAll()">
                <i *ngIf="is.exportAll" class='fa fa-circle-o-notch fa-spin'></i>
                <span> {{is.exportAll?'Exporting...':'Export'}}</span>
                <span class="info-icon"><i class="fa fa-info-circle" popover="Search and save result to file"
                        triggers="mouseenter:mouseleave" containerClass="popover-bets"></i></span>
            </button>
        </div>
    </div>
</div>

<div *ngIf="is.data" class="page-state">
    <div>
        Showing {{(searchParams.page.index-1)*searchParams.page.size+1}} to
        {{searchParams.page.index*searchParams.page.size>pagin.totalItems?pagin.totalItems:searchParams.page.index*searchParams.page.size}}
        of {{pagin.totalItems}} records
    </div>

    <pagination [boundaryLinks]="true" previousText="Previous" nextText="Next" firstText="First"
        lastText="Last ({{pagin.totalPages}})" [totalItems]="pagin.totalItems" [itemsPerPage]="searchParams.page.size"
        [maxSize]="pagin.maxSize" [ngModel]="searchParams.page.index" (pageChanged)="pageChanged($event)">
    </pagination>

    <span class="form-group">
        <span>Page size: </span>
        <select [(ngModel)]="searchParams.page.size" (change)="search()" class="form-control">
            <option>50</option>
            <option>100</option>
            <option>250</option>
            <option>500</option>
            <option>1000</option>
            <option>2000</option>
            <option>5000</option>
        </select>
    </span>

    <button *ngIf="!is.loading" [disabled]="is.exportCur || !is.data" type="button" class="btn btn-success exportCur"
        (click)="exportCur()">
        <i *ngIf="is.exportCur" class='fa fa-circle-o-notch fa-spin'></i> Export page
        {{searchParams.page.index}}</button>
</div>

<div [@fadeInOut]>
    <table class="table table-bordered bet-table outstanding-bets">
        <thead style="display: none">
            <tr>
                <th>Source/Member</th>
                <th>Bet Details</th>
                <th>Match Details</th>
                <th>Stake</th>
                <th>Placed Odds</th>
                <th>Last Odds</th>
                <th>
                    <div>D1 (1m)</div>
                    <div>D2 (6m)</div>
                    <div>D3 (11m)</div>
                </th>
                <th>Market</th>
                <th>Match Status</th>
            </tr>
        </thead>
        <thead>
            <tr>
                <th>Source/Member</th>
                <th>Bet Details</th>
                <th>Match Details</th>
                <th>Stake</th>
                <th>Placed Odds</th>
                <th>Last Odds</th>
                <th>
                    <div>D1 (1m)</div>
                    <div>D2 (6m)</div>
                    <div>D3 (11m)</div>
                </th>
                <th>Market</th>
                <th>Match Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let r of rowsView">
                <td>
                    <div><a class="search-field" (click)="searchParams.userNameCode=r.userNameCode"
                            [routerLink]="['/bets-history']" [queryParams]="{userNameCode: r.userNameCode}">
                            {{r.userNameCode}}</a>
                    </div>
                    <div><a class="search-field" (click)="searchParams.fullName=r.memberRiskTag?.memberFullName"
                            [routerLink]="['/bets-history']"
                            [queryParams]="{fullName: r.memberRiskTag?.memberFullName}">
                            <b>{{r.memberRiskTag.memberFullName}}</b></a>
                    </div>
                    <div>{{r.countryCode + r.ipAddress}}</div>
                    <div *ngIf="r.memberRiskTag && r.memberRiskTag.memberPt" [ngClass]="r.memberRiskTag.css_memberPt">
                        {{r.memberRiskTag.memberPt}}
                    </div>
                </td>
                <td>
                    <div>
                        <b>{{r.bookie}}</b>
                        <a class="search-field" (click)="searchParams.bookieRef=r.bookieRef"
                            [routerLink]="['/bets-history']"
                            [queryParams]="{bookieRef: r.bookieRef}">{{' '+ r.bookieRef}}</a>
                    </div>
                    <div><b>{{r.hdpOrGoal}}</b>{{' '+ r.type}}<b>{{'@'+ r.betSelection}}</b></div>
                    <div>{{r.cover +' '+ r.score}}<b>{{'@'+ r.odds}}</b></div>
                    <div>{{r.betDate}}</div>
                </td>
                <td>
                    <div><a class="search-field" (click)="searchParams.matchId=r.matchId"
                            [routerLink]="['/bets-history']"
                            [queryParams]="{matchId: r.matchId}">{{r.matchId}}</a>{{' '+ r.league}}
                    </div>
                    <div>
                        <span [class.selection-team]="r.betSelection == 'HOME'">{{r.homeName}}</span>
                        <span>{{r.vs}}</span>
                        <span [class.selection-team]="r.betSelection == 'AWAY'">{{r.awayName}}</span>
                    </div>
                    <div>{{r.eventDate}}</div>
                </td>
                <td>
                    <div>{{r.stake}}</div>
                    <div>{{r.currencyCode}}</div>
                </td>
                <td>
                    <div *ngIf="r.oddsType!='EU'">{{r.odds +' '+ r.oddsType}}</div>
                    <div>{{r.euroOdds}}</div>
                </td>
                <td>
                    <fa-icon *ngIf="r.lastOdds==0" [icon]="r.icon.lastOdds.icon" [style.color]="r.icon.lastOdds.style">
                    </fa-icon>
                    <ng-container *ngIf="r.lastOdds!=0">
                        <div>{{r.lastOdds}}</div>
                        <ng-container *ngIf="r.market == 'PreLive' && r.lastOdds != null">
                            <div *ngIf="r.euroOdds && r.lastOdds < r.euroOdds" class="DROP">DROP!!!</div>
                            <div *ngIf="!r.euroOdds && r.oddsType == 'EU' && r.lastOdds < r.odds" class="DROP">DROP!!!
                            </div>
                        </ng-container>
                    </ng-container>
                </td>
                <td>
                    <div *ngIf="r.deltaOdds[0] != 0">
                        <span>{{r.deltaOdds[0] +' '}}</span>
                        <fa-icon *ngIf="r.deltaOdds[0] != '_'" [icon]="r.icon.d1.icon" [style.color]="r.icon.d1.style">
                        </fa-icon>
                    </div>
                    <div *ngIf="r.deltaOdds[1] != 0">
                        <span>{{r.deltaOdds[1] +' '}}</span>
                        <fa-icon *ngIf="r.deltaOdds[1] != '_'" [icon]="r.icon.d2.icon" [style.color]="r.icon.d2.style">
                        </fa-icon>
                    </div>
                    <div *ngIf="r.deltaOdds[2] != 0">
                        <span>{{r.deltaOdds[2] +' '}}</span>
                        <fa-icon *ngIf="r.deltaOdds[2] != '_'" [icon]="r.icon.d3.icon" [style.color]="r.icon.d3.style">
                        </fa-icon>
                    </div>
                </td>
                <td>
                    <div [className]="r.market">{{r.market}}</div>
                    <div>{{r.sport}}</div>
                </td>
                <td>
                    <div [className]="r.status">{{r.status}}</div>
                    <div>{{r.resultFT}}</div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div *ngIf="is.data" class="page-state">
    <div>
        Showing {{(searchParams.page.index-1)*searchParams.page.size+1}} to
        {{searchParams.page.index*searchParams.page.size>pagin.totalItems?pagin.totalItems:searchParams.page.index*searchParams.page.size}}
        of {{pagin.totalItems}} records
    </div>

    <pagination [boundaryLinks]="true" previousText="Previous" nextText="Next" firstText="First"
        lastText="Last ({{pagin.totalPages}})" [totalItems]="pagin.totalItems" [itemsPerPage]="searchParams.page.size"
        [maxSize]="pagin.maxSize" [ngModel]="searchParams.page.index" (pageChanged)="pageChanged($event)">
    </pagination>

    <span class="form-group">
        <span>Page size: </span>
        <select [(ngModel)]="searchParams.page.size" (change)="search()" class="form-control">
            <option>50</option>
            <option>100</option>
            <option>250</option>
            <option>500</option>
            <option>1000</option>
            <option>2000</option>
            <option>5000</option>
        </select>
    </span>

    <button *ngIf="!is.loading" [disabled]="is.exportCur || !is.data" type="button" class="btn btn-success exportCur"
        (click)="exportCur()">
        <i *ngIf="is.exportCur" class='fa fa-circle-o-notch fa-spin'></i> Export page
        {{searchParams.page.index}}</button>
</div>