<loading *ngIf="is.loading"></loading>
<div class="container">
    <header class="pageHeader">
        <h3>Bets History</h3>
    </header>

    <form #f="ngForm" class="search">
        <div class="row">
            <div class="form-group">
                <label class="control-label col-sm-1">Sport</label>
                <div class="col-sm-3">
                    <select class="form-control" [(ngModel)]="searchParams.sportsType" name="s_sport">
                        <option [value]="null">All</option>
                        <option *ngFor="let sport of sports" [value]="sport.value">
                            {{sport.name}}
                        </option>
                    </select>
                </div>

                <label class="control-label col-sm-1">Match Id</label>
                <div class="col-sm-3">
                    <input [(ngModel)]="searchParams.matchId" type="text" placeholder="Match Id" class="form-control"
                        name="s_matchId" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <label class="control-label col-sm-1">Username</label>
                <div class="col-sm-3">
                    <input [(ngModel)]="searchParams.userNameCode" type="text" placeholder="Username"
                        name="s_userNameCode" class="form-control" />
                </div>

                <label class="control-label col-sm-1">Full name</label>
                <div class="col-sm-3">
                    <input [(ngModel)]="searchParams.fullName" type="text" placeholder="Full name" name="s_fullName"
                        class="form-control" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <label class="control-label col-sm-1">Bookie</label>
                <div class="col-sm-3">
                    <select class="form-control" [(ngModel)]="searchParams.bookie" name="s_bookie">
                        <option [value]="-1">All</option>
                        <option *ngFor="let bookie of bookies" [value]="bookie.value">
                            {{bookie.name}}
                        </option>
                    </select>
                </div>

                <label class="control-label col-sm-1">Bookie ref</label>
                <div class="col-sm-3">
                    <input [(ngModel)]="searchParams.bookieRef" type="text" placeholder="Bookie ref" name="s_bookieRef"
                        class="form-control" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <label class="control-label col-sm-1">Date</label>
                <div class="col-sm-3">
                    <select class="form-control" [(ngModel)]="searchParams.dateField" name="s_dateField">
                        <option [value]="'BetDate'">Bet date</option>
                        <option [value]="'EventDate'">Event date</option>
                    </select>
                </div>
                <label class="control-label col-sm-1">From</label>
                <div class="col-sm-3">
                    <input [(ngModel)]="searchParams.date._fromDate" type="text" placeholder="Status" name="s_fromDate"
                        class="form-control" bsDatepicker
                        [bsConfig]="{containerClass: 'theme-dark-blue', dateInputFormat: 'DD/MM/YYYY'}"
                        [minDate]="minDate" (ngModelChange)="setMaxDate()" />
                </div>
                <label class="control-label col-sm-1">To</label>
                <div class="col-sm-3">
                    <input [(ngModel)]="searchParams.date._toDate" type="text" placeholder="Severity" name="s_toDate"
                        class="form-control" bsDatepicker
                        [bsConfig]="{containerClass: 'theme-dark-blue', dateInputFormat: 'DD/MM/YYYY'}"
                        [minDate]="searchParams.date._fromDate" [maxDate]="maxDate" />
                </div>
            </div>
        </div>

        <div class="row control-but">
            <button [disabled]="!f.form.valid" type="submit" class="btn btn-primary" (click)="search()">Search</button>
            <button [disabled]="is.exportAll" type="button" class="btn btn-success" (click)="exportAll()">
                <i *ngIf="is.exportAll" class='fa fa-circle-o-notch fa-spin'></i>
                <span> {{is.exportAll?'Exporting...':'Export'}}</span>
                <span class="info-icon"><i class="fa fa-info-circle" popover="Search and save result to file"
                        triggers="mouseenter:mouseleave" containerClass="popover-bets"></i></span>
            </button>
        </div>
    </form>
</div>

<div *ngIf="is.data" class="page-state">
    <div>
        Showing {{(searchParams.page.index-1)*searchParams.page.size+1}} to
        {{searchParams.page.index*searchParams.page.size>pagin.totalItems?pagin.totalItems:searchParams.page.index*searchParams.page.size}}
        of {{pagin.totalItems}} records
    </div>

    <pagination [boundaryLinks]="true" previousText="Previous" nextText="Next" firstText="First"
        lastText="Last ({{pagin.totalPages}})" [totalItems]="pagin.totalItems" [itemsPerPage]="searchParams.page.size"
        [maxSize]="pagin.maxSize" [ngModel]="searchParams.page.index" (pageChanged)="pageChanged($event)">
    </pagination>

    <span class="form-group">
        <span>Page size: </span>
        <select [(ngModel)]="searchParams.page.size" (change)="search()" class="form-control">
            <option>50</option>
            <option>100</option>
            <option>250</option>
            <option>500</option>
            <option>1000</option>
            <option>2000</option>
            <option>5000</option>
        </select>
    </span>

    <button *ngIf="!is.loading" [disabled]="is.exportCur || !is.data" type="button" class="btn btn-success exportCur"
        (click)="exportCur()">
        <i *ngIf="is.exportCur" class='fa fa-circle-o-notch fa-spin'></i> Export page
        {{searchParams.page.index}}</button>
</div>

<div [@fadeInOut]>
    <table class="table table-bordered bet-table bets-history">
        <thead style="display: none">
            <tr>
                <th>Source/Member</th>
                <th>Bet Details</th>
                <th>Match Details</th>
                <th>Stake</th>
                <th>Placed Odds</th>
                <th>Last Odds</th>
                <th>
                    <div>D1 (1m)</div>
                    <div>D2 (6m)</div>
                    <div>D3 (11m)</div>
                </th>
                <th>Market</th>
                <th>Match Status</th>
                <th>Member PnL</th>
                <th>Agent PnL</th>
            </tr>
        </thead>
        <thead>
            <tr>
                <th>Source/Member</th>
                <th>Bet Details</th>
                <th>Match Details</th>
                <th>Stake</th>
                <th>Placed Odds</th>
                <th>Last Odds</th>
                <th>
                    <div>D1 (1m)</div>
                    <div>D2 (6m)</div>
                    <div>D3 (11m)</div>
                </th>
                <th>Market</th>
                <th>Match Status</th>
                <th>Member PnL</th>
                <th>Agent PnL</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let r of rowsView">
                <td>
                    <div><a class="search-field" (click)="searchParams.userNameCode=r.userNameCode"
                            [routerLink]="['/bets-history']" [queryParams]="{userNameCode: r.userNameCode}">
                            {{r.userNameCode}}</a>
                    </div>
                    <div><a class="search-field" (click)="searchParams.fullName=r.memberRiskTag?.memberFullName"
                            [routerLink]="['/bets-history']"
                            [queryParams]="{fullName: r.memberRiskTag?.memberFullName}">
                            <b>{{r.memberRiskTag.memberFullName}}</b></a>
                    </div>
                    <div>{{r.countryCode + r.ipAddress}}</div>
                    <div *ngIf="r.memberRiskTag && r.memberRiskTag.memberPt" [ngClass]="r.memberRiskTag.css_memberPt">
                        {{r.memberRiskTag.memberPt}}
                    </div>
                </td>
                <td>
                    <div>
                        <b>{{r.bookie}}</b>
                        <a class="search-field" (click)="searchParams.bookieRef=r.bookieRef"
                            [routerLink]="['/bets-history']"
                            [queryParams]="{bookieRef: r.bookieRef}">{{' '+ r.bookieRef}}</a>
                    </div>
                    <div><b>{{r.hdpOrGoal}}</b>{{' '+ r.type}}<b>{{'@'+ r.betSelection}}</b></div>
                    <div>{{r.cover +' '+ r.score}}<b>{{'@'+ r.odds}}</b></div>
                    <div>{{r.betDate}}</div>
                </td>
                <td>
                    <div><a class="search-field" (click)="searchParams.matchId=r.matchId"
                            [routerLink]="['/bets-history']"
                            [queryParams]="{matchId: r.matchId}">{{r.matchId}}</a>{{' '+ r.league}}
                    </div>
                    <div>
                        <span [class.selection-team]="r.betSelection == 'HOME'">{{r.homeName}}</span>
                        <span>{{r.vs}}</span>
                        <span [class.selection-team]="r.betSelection == 'AWAY'">{{r.awayName}}</span>
                    </div>
                    <div>{{r.eventDate}}</div>
                </td>
                <td>
                    <div>{{r.stake}}</div>
                    <div>{{r.currencyCode}}</div>
                </td>
                <td>
                    <div *ngIf="r.oddsType!='EU'">{{r.odds +' '+ r.oddsType}}</div>
                    <div>{{r.euroOdds}}</div>
                </td>
                <td>
                    <fa-icon *ngIf="r.lastOdds==0" [icon]="r.icon.lastOdds.icon" [style.color]="r.icon.lastOdds.style">
                    </fa-icon>
                    <ng-container *ngIf="r.lastOdds!=0">
                        <div>{{r.lastOdds}}</div>
                        <ng-container *ngIf="r.market == 'PreLive' && r.lastOdds != null">
                            <div *ngIf="r.euroOdds && r.lastOdds < r.euroOdds" class="DROP">DROP!!!</div>
                            <div *ngIf="!r.euroOdds && r.oddsType == 'EU' && r.lastOdds < r.odds" class="DROP">DROP!!!
                            </div>
                        </ng-container>
                    </ng-container>
                </td>
                <td>
                    <div *ngIf="r.deltaOdds[0] != 0">
                        <span>{{r.deltaOdds[0] +' '}}</span>
                        <fa-icon *ngIf="r.deltaOdds[0] != '_'" [icon]="r.icon.d1.icon" [style.color]="r.icon.d1.style">
                        </fa-icon>
                    </div>
                    <div *ngIf="r.deltaOdds[1] != 0">
                        <span>{{r.deltaOdds[1] +' '}}</span>
                        <fa-icon *ngIf="r.deltaOdds[1] != '_'" [icon]="r.icon.d2.icon" [style.color]="r.icon.d2.style">
                        </fa-icon>
                    </div>
                    <div *ngIf="r.deltaOdds[2] != 0">
                        <span>{{r.deltaOdds[2] +' '}}</span>
                        <fa-icon *ngIf="r.deltaOdds[2] != '_'" [icon]="r.icon.d3.icon" [style.color]="r.icon.d3.style">
                        </fa-icon>
                    </div>
                </td>
                <td>
                    <div [className]="r.market">{{r.market}}</div>
                    <div>{{r.sport}}</div>
                </td>
                <td>
                    <div [className]="r.status">{{r.status}}</div>
                    <div>{{r.resultFT}}</div>
                </td>
                <td>{{r.winLossAmount}}</td>
                <td>
                    <div [class.DROP]="r.agentAmount < 0">{{r.agentAmount}}</div>
                    <div>{{r.agentPt}}</div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div *ngIf="is.data" class="page-state">
    <div>
        Showing {{(searchParams.page.index-1)*searchParams.page.size+1}} to
        {{searchParams.page.index*searchParams.page.size>pagin.totalItems?pagin.totalItems:searchParams.page.index*searchParams.page.size}}
        of {{pagin.totalItems}} records
    </div>

    <pagination [boundaryLinks]="true" previousText="Previous" nextText="Next" firstText="First"
        lastText="Last ({{pagin.totalPages}})" [totalItems]="pagin.totalItems" [itemsPerPage]="searchParams.page.size"
        [maxSize]="pagin.maxSize" [ngModel]="searchParams.page.index" (pageChanged)="pageChanged($event)">
    </pagination>

    <span class="form-group">
        <span>Page size: </span>
        <select [(ngModel)]="searchParams.page.size" (change)="search()" class="form-control">
            <option>50</option>
            <option>100</option>
            <option>250</option>
            <option>500</option>
            <option>1000</option>
            <option>2000</option>
            <option>5000</option>
        </select>
    </span>

    <button *ngIf="!is.loading" [disabled]="is.exportCur || !is.data" type="button" class="btn btn-success exportCur"
        (click)="exportCur()">
        <i *ngIf="is.exportCur" class='fa fa-circle-o-notch fa-spin'></i> Export page
        {{searchParams.page.index}}</button>
</div>