.selected, .violations tbody tr:hover{
  background-color: #eee;
}

.violations>thead>tr>th:nth-child(7){
  min-width: 170px;
}
.violations>tbody>tr>td {
  vertical-align: middle;
  text-align: center;
}
.violations>tbody>tr>td:nth-child(2){
  text-align: left;
}

.show-detail{
  cursor: pointer;
}

.search>.row>.form-group>label{
  white-space: nowrap;
}