<loading *ngIf="is.loading"></loading>
<div class="container">
    <div class="row">
        <header class="pageHeader">
            <h3>
                <i class="fa fa-lg page-caption"></i>Violations
            </h3>
        </header>
    </div>

    <div class="search" (keyup.enter)="search()">
        <div class="row">
            <div class="form-group">
                <label class="control-label col-md-1">Rule</label>
                <div class="col-md-3">
                    <select class="form-control" [(ngModel)]="searchParams.ruleId">
                        <option [value]="''">All</option>
                        <option *ngFor="let rule of ruleList" [value]="rule.ruleId">{{rule.ruleName}}</option>
                    </select>
                </div>

                <label class="control-label col-md-1">Username</label>
                <div class="col-md-3">
                    <input [(ngModel)]="searchParams.userName" type="text" placeholder="Username"
                        class="form-control" />
                </div>

                <label class="control-label col-md-1">Full name</label>
                <div class="col-md-3">
                    <input [(ngModel)]="searchParams.fullName" type="text" placeholder="Full name"
                        class="form-control" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <label class="control-label col-md-1">Status</label>
                <div class="col-md-3">
                    <select class="form-control" [(ngModel)]="searchParams.status">
                        <option [value]="-1">All</option>
                        <option *ngFor="let stt of statuses" [value]="stt.value">{{stt.name}}</option>
                    </select>
                </div>

                <label class="control-label col-md-1">Severity</label>
                <div class="col-md-3">
                    <select class="form-control" [(ngModel)]="searchParams.severity"
                        [ngClass]="searchParams.css_severity">
                        <option [value]="undefined" style="color: black">All</option>
                        <option *ngFor="let sv of severities" [value]="sv.value" [ngClass]="sv.css">
                            {{sv.name}}
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <label class="control-label col-md-1">From</label>
                <div class="col-md-3">
                    <input [(ngModel)]="searchParams.date._fromDate" type="text" placeholder="Status"
                        class="form-control" bsDatepicker
                        [bsConfig]="{containerClass: 'theme-dark-blue', dateInputFormat: 'DD/MM/YYYY'}" />
                </div>
                <label class="control-label col-md-1">To</label>
                <div class="col-md-3">
                    <input [(ngModel)]="searchParams.date._toDate" type="text" placeholder="Severity"
                        class="form-control" bsDatepicker
                        [bsConfig]="{containerClass: 'theme-dark-blue', dateInputFormat: 'DD/MM/YYYY'}" />
                </div>
            </div>
        </div>

        <div class="row">
            <button (click)="search()" type="button" class="btn btn-primary" style="margin-right: 5px">Search</button>
        </div>
    </div>
</div>

<div *ngIf="is.data" class="page-state">
    <div>
        Showing {{(searchParams.page.index-1)*searchParams.page.size+1}} to
        {{searchParams.page.index*searchParams.page.size>pagin.totalItems?pagin.totalItems:searchParams.page.index*searchParams.page.size}}
        of {{pagin.totalItems}} records
    </div>

    <pagination [boundaryLinks]="true" previousText="Previous" nextText="Next" firstText="First"
        lastText="Last ({{pagin.totalPages}})" [totalItems]="pagin.totalItems" [itemsPerPage]="searchParams.page.size"
        [maxSize]="pagin.maxSize" [ngModel]="searchParams.page.index" (pageChanged)="pageChanged($event)">
    </pagination>

    <span class="form-group">
        <span>Page size: </span>
        <select [(ngModel)]="searchParams.page.size" (change)="search()" class="form-control">
            <option>50</option>
            <option>100</option>
            <option>250</option>
            <option>500</option>
            <option>1000</option>
            <option>2000</option>
            <option>5000</option>
        </select>
    </span>

    <button *ngIf="!is.loading" [disabled]="is.exportCur || !is.data" type="button" class="btn btn-success exportCur"
        (click)="exportCur()">
        <i *ngIf="is.exportCur" class='fa fa-circle-o-notch fa-spin'></i> Export page
        {{searchParams.page.index}}</button>
</div>

<div [@fadeInOut]>
    <table class="table table-bordered violations">
        <thead style="display: none">
            <tr>
                <th>Time</th>
                <th>Message</th>
                <th>Severity</th>
                <th>Status</th>
                <th>Review</th>
                <th>Notes</th>
                <th>Action</th>
            </tr>
        </thead>
        <thead>
            <tr>
                <th>Time</th>
                <th>Message</th>
                <th>Severity</th>
                <th>Status</th>
                <th>Review</th>
                <th>Notes</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let r of rowsView;let i=index" [ngClass]="{'selected':i==detail?.index}">
                <td>{{r.createdTime}}</td>
                <td>
                    <a class="search-field" (click)="searchParams.ruleId=r.ruleId" [routerLink]="['/violations']"
                        [queryParams]="{ruleId: r.ruleId}">
                        {{r.ruleId}}
                    </a>
                    _
                    <a class="search-field" (click)="searchParams.userName=r.memberRiskTag.userName"
                        [routerLink]="['/violations']"
                        [queryParams]="{userName: r.memberRiskTag.userName}">{{r.memberRiskTag.source}}_{{r.memberRiskTag.userName}}
                    </a>
                    _
                    <a class="search-field" (click)="searchParams.fullName=r.memberRiskTag.memberFullName"
                        [routerLink]="['/violations']"
                        [queryParams]="{fullName: r.memberRiskTag.memberFullName}">{{r.memberRiskTag.memberFullName}}</a><br />
                    <a class="show-detail" (click)="showDetail(i)">{{r.message}}</a><br />
                    <div *ngIf="r.memberRiskTag && r.memberRiskTag.memberPt" [ngClass]="r.memberRiskTag.css_memberPt">
                        {{r.memberRiskTag.memberPt}}</div>
                </td>
                <td [ngClass]="r.css_severity">{{r.severity}}</td>
                <td *ngIf="editRowId==i">
                    <select class="form-control" [(ngModel)]="rows[i].status" required>
                        <option [value]="undefined" disabled>Select status</option>
                        <option *ngFor="let stt of statuses; let i=index" [value]="stt.value">{{stt.name}}</option>
                    </select>
                </td>
                <td *ngIf="editRowId!=i">{{r.status}}</td>
                <td style="text-align: left">
                    <span>{{r.reviewedBy}}<br /></span>
                    <span>{{r.reviewedTime}}</span>
                </td>
                <td *ngIf="editRowId==i">
                    <input [(ngModel)]="rows[i].notes" class="form-control" />
                </td>
                <td *ngIf="editRowId!=i" class="left">{{r.notes}}</td>
                <td>
                    <button *ngIf="editRowId!=i" (click)="setEditRow(i)" type="button"
                        class="btn btn-success">Edit</button>
                    <button *ngIf="editRowId>-1 && editRowId==i" (click)="cancelEdit()" type="button"
                        class="btn btn-danger" style="margin-right:5px">
                        <i class='fa fa-times'></i>&nbsp;Cancel
                    </button>
                    <button *ngIf="editRowId>-1 && editRowId==i" [disabled]="is.saving" (click)="updateRow(i)"
                        type="button" class="btn btn-primary">
                        <i *ngIf="!is.saving" class='fa fa-save'></i>
                        <i *ngIf="is.saving" class='fa fa-circle-o-notch fa-spin'></i>&nbsp;Save
                    </button>
                    <button (click)="showDetail(i)" type="button" class="btn btn-success"
                        style="margin-left: 5px">View&nbsp;detail</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div *ngIf="is.data" class="page-state">
    <div>
        Showing {{(searchParams.page.index-1)*searchParams.page.size+1}} to
        {{searchParams.page.index*searchParams.page.size>pagin.totalItems?pagin.totalItems:searchParams.page.index*searchParams.page.size}}
        of {{pagin.totalItems}} records
    </div>

    <pagination [boundaryLinks]="true" previousText="Previous" nextText="Next" firstText="First"
        lastText="Last ({{pagin.totalPages}})" [totalItems]="pagin.totalItems" [itemsPerPage]="searchParams.page.size"
        [maxSize]="pagin.maxSize" [ngModel]="searchParams.page.index" (pageChanged)="pageChanged($event)">
    </pagination>

    <span class="form-group">
        <span>Page size: </span>
        <select [(ngModel)]="searchParams.page.size" (change)="search()" class="form-control">
            <option>50</option>
            <option>100</option>
            <option>250</option>
            <option>500</option>
            <option>1000</option>
            <option>2000</option>
            <option>5000</option>
        </select>
    </span>

    <button *ngIf="!is.loading" [disabled]="is.exportCur || !is.data" type="button" class="btn btn-success exportCur"
        (click)="exportCur()">
        <i *ngIf="is.exportCur" class='fa fa-circle-o-notch fa-spin'></i> Export page
        {{searchParams.page.index}}</button>
</div>

<violation-detail #detail [showButton]="false" [oneModal]="true"></violation-detail>