<button #butn [style.display]="showButton?'inherit':'none'" type="button" class="btn btn-primary" data-toggle="modal"
    [attr.data-target]="oneModal?'#one':'#id'+violation.id" (click)="getDetail()">View detail</button>

<!-- Modal -->
<div [id]="oneModal?'one':'id'+violation.id" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">{{dataView.memberPT?.memberFullName}} - {{violation.message}}</h3>

                <div *ngIf="dataEdit.memberPT">
                    <label class="control-label col-sm-1 pt-label">Position tag</label>
                    <div class="form-group col-sm-3">
                        <select class="form-control" [(ngModel)]="dataEdit.memberPT.positionTagValue"
                            [ngClass]="dataEdit.css_pt">
                            <option [value]="undefined" [disabled]="true">Select position tag</option>
                            <option *ngFor="let pt of positionTags" [value]="pt.value" [ngClass]="pt.css">{{pt.name}}
                            </option>
                        </select>
                    </div>
                    <button (click)="updatePT()" type="button" class="btn btn-primary col-sm-2"
                        style="margin-right: 5px">Update</button>
                </div>
                <button *ngIf="!is.loading" [disabled]="is.exportCur || !is.data" type="button" class="btn btn-success"
                    (click)="export()" style="float:right">
                    <i *ngIf="is.exportCur" class='fa fa-circle-o-notch fa-spin'></i> Export</button>
            </div>
            <div class="modal-body" style="max-height: calc(100vh - 200px); overflow-y: auto;">
                <table class="table table-bordered bet-table">
                    <thead>
                        <tr>
                            <th>Source/Member</th>
                            <th>Bet Details</th>
                            <th>Match Details</th>
                            <th>Stake</th>
                            <th>Placed Odds</th>
                            <th>Last Odds</th>
                            <th>Market</th>
                            <th>Match Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let r of dataView.violation?.details.data">
                            <td>
                                <div><a class="search-field" [routerLink]="['/bets-history']"
                                        [queryParams]="{userNameCode: r.userNameCode}">
                                        {{r.userNameCode}}</a>
                                </div>
                                <div><a class="search-field" [routerLink]="['/bets-history']"
                                        [queryParams]="{fullName: r.memberRiskTag.memberFullName}">
                                        <b>{{r.memberRiskTag.memberFullName}}</b></a>
                                </div>
                                <div>{{r.countryCode + r.ipAddress}}</div>
                                <div *ngIf="r.memberRiskTag && r.memberRiskTag.memberPt"
                                    [ngClass]="r.memberRiskTag.css_memberPt">{{r.memberRiskTag.memberPt}}</div>
                            </td>
                            <td>
                                <div>
                                    <b>{{r.bookie}}</b>
                                    <a class="search-field" [routerLink]="['/bets-history']"
                                        [queryParams]="{bookieRef: r.bookieRef}">{{' '+ r.bookieRef}}</a>
                                </div>
                                <div><b>{{r.hdpOrGoal}}</b>{{' '+ r.type}}<b>{{'@'+ r.betSelection}}</b></div>
                                <div>{{r.cover +' '+ r.score}}<b>{{'@'+ r.odds}}</b></div>
                                <div>{{r.betDate}}</div>
                            </td>
                            <td>
                                <div><a class="search-field" [routerLink]="['/bets-history']"
                                        [queryParams]="{matchId: r.matchId}">{{r.matchId}}</a>{{' '+ r.league}}
                                </div>
                                <div>
                                    <span [class.selection-team]="r.betSelection == 'HOME'">{{r.homeName}}</span>
                                    <span>{{r.vs}}</span>
                                    <span [class.selection-team]="r.betSelection == 'AWAY'">{{r.awayName}}</span>
                                </div>
                                <div>{{r.eventDate}}</div>
                            </td>
                            <td>
                                <div>{{r.stake}}</div>
                                <div>{{r.currencyCode}}</div>
                            </td>
                            <td>
                                <div *ngIf="r.oddsType!='EU'">{{r.odds +' '+ r.oddsType}}</div>
                                <div>{{r.euroOdds}}</div>
                            </td>
                            <td>
                                <i *ngIf="r.lastOdds==0" class="fas fa-ban" style="color:red"></i>
                                <ng-container *ngIf="r.lastOdds!=0">
                                    <div>{{r.lastOdds}}</div>
                                    <ng-container *ngIf="r.market == 'PreLive' && r.lastOdds != null">
                                        <div *ngIf="r.euroOdds && r.lastOdds < r.euroOdds" class="DROP">DROP!!!</div>
                                        <div *ngIf="!r.euroOdds && r.oddsType=='EU' && r.lastOdds < r.odds"
                                            class="DROP">DROP!!!
                                        </div>
                                    </ng-container>
                                </ng-container>
                            </td>
                            <td>
                                <div [className]="r.market">{{r.market}}</div>
                                <div>{{r.sport}}</div>
                            </td>
                            <td>
                                <div [className]="r.status">{{r.status}}</div>
                                <div>{{r.resultFT}}</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-sm-2 pull-right">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>