.pt-label {
    width: fit-content;
    margin-top: 5px;
}

.modal-title {
    margin-bottom: 10px;
}

.bet-table>tbody>tr>td:nth-child(7) {
    width: unset;
    padding-right: 8px;
}

.bet-table>tbody>tr>td:nth-child(7), .bet-table>tbody>tr>td:nth-child(8) {
    text-align: center;
}