.click-event:hover{
  cursor: pointer;
}

.sr-list>tbody>tr>td {
  vertical-align: middle;
  text-align: center;
}

.left {
  text-align: left!important;
}

.sr-list>thead>tr>th:nth-child(2){
  min-width: 260px;
}
.sr-list>thead>tr>th:nth-child(7){
  min-width: 330px;
}

.modal-body input[type=checkbox]{
  vertical-align: middle;
  margin: 0px 5px 0px 0px;
}

.open_modal{
  right: 0px;
  padding-right: inherit;
  position: absolute;
  z-index: 1;
}
.open_modal:hover{
  cursor: pointer;
}

.btn-del-ip{
  padding: 0px 4px 2px 4px;
}
.btn-del-ip>i{
  font-size: 10px;
}