<loading *ngIf="is.loading"></loading>
<div class="container">
    <div class="row">
        <header class="pageHeader">
            <h3>
                <i class="fa fa-lg page-caption"></i>Smart Rules
            </h3>
        </header>
    </div>

    <div [@fadeInOut]>
        <table class="table table-bordered sr-list">
            <thead style="display: none">
                <tr>
                    <th>#No</th>
                    <th>Rule Name</th>
                    <th>Last Updated By</th>
                    <th>Last Updated Date</th>
                    <th>Active</th>
                    <th>Severity</th>
                    <th>Action</th>
                </tr>
            </thead>
            <thead>
                <tr>
                    <th>#No</th>
                    <th>Rule Name</th>
                    <th>Last Updated By</th>
                    <th>Last Updated Date</th>
                    <th>Active</th>
                    <th>Severity</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let r of rowsView;let i=index">
                    <td>{{i+1}}</td>
                    <td class="left">{{r.ruleName}}</td>
                    <td>{{r.userName}}</td>
                    <td>{{r.lastedUpdate}}</td>
                    <td><i *ngIf="r.isActive" class="fas fa-check"></i></td>
                    <td [ngClass]="r.css_severity">{{r.severity}}</td>
                    <td class="click-event">
                        <button (click)="edit(i)" type="button" class="btn btn-success" style="margin-right: 5px;"><i
                                class="fa fa-pencil-square-o"></i>&nbsp;Edit</button>
                        <smart-rules-history [smartRule]="r"></smart-rules-history>
                        <a class="btn btn-success" style="margin-left: 5px;" [routerLink]="['/violations']"
                            [queryParams]="{ruleId:r.ruleId}">See
                            violations</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div bsModal #editModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
    <div class="modal-dialog modal-lg" style="background-color: white">
        <form #f="ngForm" *ngIf="editModel">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Edit Smart Rule</h4>
                <button type="button" class="close pull-right" (click)="editModal.hide()">
                    <span>&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <label class="control-label">
                            <span>Rule Name </span>
                            <input [(ngModel)]="editModel.isActive" type="checkbox" name="isActive" bootstrapToggle
                                data-on="Active" data-off="Inactive" data-onstyle="success" data-offstyle="danger"
                                data-width="60" data-size="mini">
                        </label>
                        <input [(ngModel)]="editModel.ruleName" #ruleName="ngModel" name="ruleName" required
                            minlength="2" class="form-control" placeholder="Rule Name" autocomplete="off">
                        <ng-container *ngIf="ruleName.invalid && (ruleName.dirty || ruleName.touched)">
                            <span *ngIf="ruleName.errors.required" class="errorMessage">
                                Rule Name is required
                            </span>
                            <span *ngIf="ruleName.errors.minlength" class="errorMessage">
                                Rule Name at least 2 characters
                            </span>
                        </ng-container>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 form-group">
                        <label class="control-label">Severity</label>
                        <select class="form-control" [(ngModel)]="editModel.severity" #severity="ngModel"
                            name="severity" [ngClass]="editModel.css_severity" required>
                            <option [value]="undefined" disabled>Select severity</option>
                            <option *ngFor="let sv of severities" [value]="sv.value" [ngClass]="sv.css">
                                {{sv.name}}
                            </option>
                        </select>
                        <ng-container *ngIf="severity.invalid && (severity.dirty || severity.touched)">
                            <span *ngIf="severity.errors.required" class="errorMessage">
                                Severity is required
                            </span>
                        </ng-container>
                    </div>
                </div>

                <div *ngFor="let r of editModel.settings; let i = index" class="row">
                    <div class="form-group">
                        <div class="col-md-3">
                            <input *ngIf="r.active!=null" type="checkbox" [(ngModel)]="r.active"
                                [name]="'set_active'+i">
                            <label class="control-label">{{r.label}}</label>
                        </div>
                        <div class="col-md-3">
                            <select class="form-control" [(ngModel)]="r.operator.select" required
                                [name]="'set_select'+i">
                                <option *ngFor="let o of r.operator.data" [value]="o">{{o}}</option>
                            </select>
                        </div>
                        <div class="col-md-6" [ngSwitch]="r.type">
                            <ng-container *ngSwitchCase="'ips'">
                                <tag-input [(ngModel)]="r.tmp" [validators]='[isIPv4]' [separatorKeyCodes]="[32]"
                                    [separatorKeys]="[',',';']" [pasteSplitPattern]="['\n']" [errorMessages]='errs'
                                    (onAdd)="fixStruct($event,r.value)" [placeholder]="'+ IP'"
                                    [secondaryPlaceholder]="'+ IP'" [addOnPaste]="true" [name]="'set_'+r.name+i">
                                </tag-input>
                                <div class="open_modal" (click)="editIPs(r.value)"><a>See more...</a></div>
                            </ng-container>

                            <ng-container *ngSwitchCase="'tag'">
                                <tag-input [(ngModel)]="r.value" (onAdd)="fixStruct($event,r.value)"
                                    [placeholder]="'+ Minor league'" [addOnPaste]="true" [name]="'set_'+r.name+i">
                                </tag-input>
                            </ng-container>

                            <ng-container *ngSwitchDefault>
                                <input [type]="r.type" class="form-control" [(ngModel)]="r.value[0]"
                                    [name]="'set_'+r.name+i">
                            </ng-container>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 form-group">
                        <label class="control-label">Note</label>
                        <textarea [(ngModel)]="editModel.note" class="form-control" rows="5" style="margin-bottom: 5px;"
                            name="note"></textarea>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button (click)="cancelEdit()" type="button" class="btn btn-danger" style="margin-right: 5px">
                    <i class='fa fa-times'></i>&nbsp;Cancel
                </button>
                <button [disabled]="!f.form.valid" (click)="updateRow()" type="submit" class="btn btn-primary">
                    <i *ngIf="!is.saving" class='fa fa-save'></i>
                    <i *ngIf="is.saving" class='fa fa-circle-o-notch fa-spin'></i>&nbsp;Save
                </button>
            </div>
        </form>
    </div>
</div>

<div bsModal #editIPsModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="dialog-sizes-name2" (keydown.esc)="editModal.show()">
    <div class="modal-dialog modal-lg" style="background-color: white">

        <div class="modal-header">
            <h4 class="modal-title pull-left">Edit IPs</h4>
            <button type="button" class="close pull-right" (click)="editIPsModal.hide()">
                <span>&times;</span>
            </button>
        </div>

        <div class="modal-body" style="overflow-y: auto;max-height: calc(100vh - 200px);">
            <div class="form-group row">
                <label class="control-label col-sm-3">Filter & Add IP:</label>
                <div class="col-sm-7">
                    <form #f="ngForm">
                        <input class="form-control" [(ngModel)]="_filter" (keyup.enter)="addIP(_filter)" name="filter"
                            #filter="ngModel" (keyup)="checkAndUpdateIP($event)">
                        <ng-container *ngIf="ipErrors && (filter.dirty || filter.touched)">
                            <span *ngIf="ipErrors.missingPoint" class="errorMessage">
                                Not IPv4 struct
                            </span>
                            <span *ngIf="ipErrors.num" class="errorMessage">
                                IP is number
                            </span>
                            <span *ngIf="ipErrors.ipRange" class="errorMessage">
                                IP ∈ [0,255]
                            </span>
                            <span *ngIf="ipErrors.exist" class="errorMessage">
                                This IP already exist
                            </span>
                        </ng-container>
                        <ng-container *ngIf="!ipErrors && (filter.dirty || filter.touched)">
                            <span style="color: limegreen">Press Enter to add IP <b>{{_filter}}</b> to list.</span>
                        </ng-container>
                    </form>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-danger" (click)="deleteAllIPs()"><i class="fa fa-trash"></i>&nbsp;Delete
                        All</button>
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-sm-3">Column</label>
                <div class="col-sm-2">
                    <select [(ngModel)]="col" (change)="updateIPList()" class="form-control" style="max-width: 60px">
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                    </select>
                </div>
            </div>
            <table class="table table-bordered sr-list">
                <thead>
                    <tr>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let r of editIPsModel">
                        <td *ngFor="let c of r"><span>{{c}}</span>
                            <button class="btn btn-danger pull-right btn-del-ip" (click)="deleteIPs(c)"><i
                                    class="fa fa-trash"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button (click)="back()" type="button" class="btn btn-secondary pull-left" style="margin-right: 5px">
                <i class="fas fa-arrow-left"></i>&nbsp;Back
            </button>
            <button (click)="confirmIPs()" class="btn btn-primary">
                <i class='fa fa-save'></i>&nbsp;Confirm
            </button>
        </div>
    </div>
</div>