.agent-status-Running {
    color: green;
}

.agent-status-Stop {
    color: red;
}

.agent-account-n>thead>tr>th:nth-child(1) {
    width: 50px;
}

.agent-account-n>thead>tr>th:nth-child(2) {
    width: 70px;
}

.agent-account-n>thead>tr>th:nth-child(3) {
    width: 150px;
}

.agent-account-n>thead>tr>th:nth-child(4) {
    width: 150px;
}

.agent-account-n>thead>tr>th:nth-child(5) {
    width: 130px;
}

.agent-account-n>thead>tr>th:nth-child(6) {
    width: 100px;
}

.agent-account-n>thead>tr>th:nth-child(7) {
    width: 177px;
}

.agent-account-n>tbody>tr>td:nth-child(1){
    text-align: center;
}

.agent-account-n>tbody>tr>td {
    vertical-align: middle;
}