<loading *ngIf="is.loading"></loading>
<div class="container">
    <header class="pageHeader">
        <h3>Agent Accounts</h3>
    </header>

    <div class="search" (keyup.enter)="search()">
        <div class="row">
            <div class="form-group">
                <label class="control-label col-md-1">Bookie</label>
                <div class="col-md-3">
                    <select class="form-control" [(ngModel)]="searchParams.model.source">
                        <option>All</option>
                        <option *ngFor="let bookie of bookies" [value]="bookie.name">
                            {{bookie.name}}
                        </option>
                    </select>
                </div>

                <label class="control-label col-md-1">Username</label>
                <div class="col-md-3">
                    <input [(ngModel)]="searchParams.model.userName" type="text" placeholder="Username"
                        class="form-control" />
                </div>
            </div>
        </div>

        <div class="row control-but">
            <button type="button" class="btn btn-primary" (click)="search()">Search</button>
            <button class="btn btn-success" (click)="newRow()">New</button>
            <button class="btn btn-success" (click)="startAll()">
                <i class="fas fa-play"></i>&nbsp;Start All</button>
            <button class="btn btn-danger" (click)="stopAll()">
                <i class="fas fa-stop"></i>&nbsp;Stop All</button>
        </div>
    </div>
</div>

<div *ngIf="is.data" class="page-state">
    <div>
        Showing {{(searchParams.page.index-1)*searchParams.page.size+1}} to
        {{searchParams.page.index*searchParams.page.size>pagin.totalItems?pagin.totalItems:searchParams.page.index*searchParams.page.size}}
        of {{pagin.totalItems}} records
    </div>

    <pagination [boundaryLinks]="true" previousText="Previous" nextText="Next" firstText="First"
        lastText="Last ({{pagin.totalPages}})" [totalItems]="pagin.totalItems" [itemsPerPage]="searchParams.page.size"
        [maxSize]="pagin.maxSize" [ngModel]="searchParams.page.index" (pageChanged)="pageChanged($event)">
    </pagination>

    <span class="form-group">
        <span>Page size: </span>
        <select [(ngModel)]="searchParams.page.size" (change)="search()" class="form-control">
            <option>5</option>
            <option>10</option>
            <option>50</option>
            <option>100</option>
            <option>200</option>
        </select>
    </span>

    <button *ngIf="!is.loading" [disabled]="is.exportCur || !is.data" type="button" class="btn btn-success exportCur"
        (click)="exportCur()">
        <i *ngIf="is.exportCur" class='fa fa-circle-o-notch fa-spin'></i> Export page
        {{searchParams.page.index}}</button>
</div>

<div [@fadeInOut]>
    <table class="table table-bordered agent-account-n">
        <thead style="display: none">
            <tr>
                <th>#No</th>
                <th>Bookie</th>
                <th>Domain</th>
                <th>Username</th>
                <th>Security Code</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <thead>
            <tr>
                <th>#No</th>
                <th>Bookie</th>
                <th>Domain</th>
                <th>Username</th>
                <th>Security Code</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let r of rowsView; let i = index">
                <td>{{i+1}}</td>
                <td>{{r.source}}</td>
                <td>{{r.domain}}</td>
                <td>{{r.userName}}</td>
                <td>{{r.securityCode}}</td>
                <td [ngClass]="r.css_agentStatus">{{r.agentStatusView}}</td>
                <td>
                    <div *ngIf="r.agentStatus == 3">
                        <button (click)="edit(i)" type="button" class="btn btn-success" style="margin-right: 5px">
                            <i class="fa fa-pencil-square-o"></i>&nbsp;Edit</button>
                        <button (click)="delete(i)" type="button" class="btn btn-danger">
                            <i class="fa fa-trash"></i>&nbsp;Delete</button>
                    </div>

                    <div style="margin-top:5px" [ngSwitch]="r.agentStatus">
                        <ng-container *ngSwitchCase="0">
                            <img src="assets/ajax-loader.gif" />
                            <span style="color:green"> Waiting for run..</span>
                        </ng-container>

                        <button *ngSwitchCase="1" class="btn btn-danger" (click)="changeStt(i)">
                            <i class="fas fa-stop"></i>&nbsp;Stop</button>

                        <div *ngSwitchCase="2">
                            <div><img [src]="r.captchaImg" /></div>
                            <div style="width:83.2px;float:left">
                                <input type="text" [(ngModel)]="r.captchaText" (keyup.enter)="resolve(i, true)"
                                    class="form-control" /></div>
                            <div><button (click)="resolve(i)" class="btn btn-success">OK</button></div>
                        </div>

                        <button *ngSwitchCase="3" class="btn btn-success" (click)="changeStt(i)">
                            <i class="fas fa-play"></i>&nbsp;Run</button>

                        <ng-container *ngSwitchCase="4">
                            <img src="assets/ajax-loader.gif" />
                            <span style="color:red"> Waiting for stop..</span>
                        </ng-container>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div *ngIf="is.data" class="page-state">
    <div>
        Showing {{(searchParams.page.index-1)*searchParams.page.size+1}} to
        {{searchParams.page.index*searchParams.page.size>pagin.totalItems?pagin.totalItems:searchParams.page.index*searchParams.page.size}}
        of {{pagin.totalItems}} records
    </div>

    <pagination [boundaryLinks]="true" previousText="Previous" nextText="Next" firstText="First"
        lastText="Last ({{pagin.totalPages}})" [totalItems]="pagin.totalItems" [itemsPerPage]="searchParams.page.size"
        [maxSize]="pagin.maxSize" [ngModel]="searchParams.page.index" (pageChanged)="pageChanged($event)">
    </pagination>

    <span class="form-group">
        <span>Page size: </span>
        <select [(ngModel)]="searchParams.page.size" (change)="search()" class="form-control">
            <option>5</option>
            <option>10</option>
            <option>50</option>
            <option>100</option>
            <option>200</option>
        </select>
    </span>

    <button *ngIf="!is.loading" [disabled]="is.exportCur || !is.data" type="button" class="btn btn-success exportCur"
        (click)="exportCur()">
        <i *ngIf="is.exportCur" class='fa fa-circle-o-notch fa-spin'></i> Export page
        {{searchParams.page.index}}</button>
</div>

<div bsModal #editModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
    <div class="modal-dialog modal-lg" style="background-color: white">
        <form #f="ngForm">
            <div class="modal-header">
                <h4 class="modal-title pull-left">{{editIndex>-1?"Edit":"New"}}&nbsp;Agent Account</h4>
                <button type="button" class="close pull-right" (click)="closeModal()">
                    <span>&times;</span>
                </button>
            </div>

            <div class="modal-body" *ngIf="editModel">
                <div class="row form-group">
                    <div class="col-sm-6">
                        <label class="control-label">Bookie</label>
                        <select [(ngModel)]="editModel.source" #source="ngModel" name="source" required
                            class="form-control" [disabled]="editIndex>-1" (change)="autocompleteDomain()">
                            <option [value]="undefined" [disabled]="true">Select Bookie</option>
                            <option *ngFor="let bookie of bookies" [value]="bookie.name">{{bookie.name}}</option>
                        </select>
                        <ng-container *ngIf="source.invalid && (source.dirty || source.touched)">
                            <span *ngIf="source.errors.required" class="errorMessage">
                                Bookie is required
                            </span>
                        </ng-container>
                    </div>

                    <div class="col-sm-6">
                        <label class="control-label">Domain</label>
                        <input [(ngModel)]="editModel.domain" name="domain" class="form-control" placeholder="Domain">
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-sm-6">
                        <label class="control-label">Username</label>
                        <input [(ngModel)]="editModel.userName" name="userName" #userName="ngModel" class="form-control"
                            placeholder="Username" required minlength="4">
                        <ng-container *ngIf="userName.invalid && (userName.dirty || userName.touched)">
                            <span *ngIf="userName.errors.required" class="errorMessage">
                                Username is required
                            </span>
                            <span *ngIf="userName.errors.minlength" class="errorMessage">
                                Username at least 4 characters
                            </span>
                        </ng-container>
                    </div>

                    <div class="col-sm-6">
                        <label class="control-label">Security Code</label>
                        <input [(ngModel)]="editModel.securityCode" name="securityCode" #securityCode="ngModel"
                            class="form-control" placeholder="Security Code" required minlength="4">
                        <ng-container *ngIf="securityCode.invalid && (securityCode.dirty || securityCode.touched)">
                            <span *ngIf="securityCode.errors.required" class="errorMessage">
                                Security Code is required
                            </span>
                            <span *ngIf="securityCode.errors.minlength" class="errorMessage">
                                Security Code at least 4 characters
                            </span>
                        </ng-container>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-sm-6">
                        <label class="control-label">Password</label>
                        <input [(ngModel)]="editModel.password" name="password" #password="ngModel" class="form-control"
                            [placeholder]="editIndex==-1?'Password':'Change Password'" [required]="editIndex==-1"
                            minlength="4">
                        <ng-container *ngIf="password.invalid && (password.dirty || password.touched)">
                            <span *ngIf="password.errors.required" class="errorMessage">
                                Password is required
                            </span>
                            <span *ngIf="password.errors.minlength" class="errorMessage">
                                Password at least 4 characters
                            </span>
                        </ng-container>
                    </div>

                    <div class="col-sm-6">
                        <label class="control-label">Confirm Password</label>
                        <input [(ngModel)]="editModel.confirmPassword" name="confirmPassword" #confirmPassword="ngModel"
                            class="form-control" [placeholder]="editIndex==-1?'Confirm Password':'Change Password'"
                            [pattern]="editModel.password" [required]="editIndex==-1">
                        <ng-container *ngIf="confirmPassword.dirty || confirmPassword.touched">
                            <span *ngIf="confirmPassword.errors?.pattern" class="errorMessage">
                                Password not match
                            </span>
                        </ng-container>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button (click)="cancelEdit()" type="button" class="btn btn-danger" style="margin-right: 5px">
                    <i class='fa fa-times'></i>&nbsp;Cancel
                </button>
                <button [disabled]="!f.form.valid" (click)="save()" type="submit" class="btn btn-primary">
                    <i *ngIf="!is.saving" class='fa fa-save'></i>
                    <i *ngIf="is.saving" class='fa fa-circle-o-notch fa-spin'></i>&nbsp;Save
                </button>
            </div>
        </form>
    </div>
</div>

<div class="new-button">
    <i class="fas fa-plus-circle fa-2x" (click)="newRow()"></i>
</div>