<button #butn [style.display]="showButton?'inherit':'none'" type="button" class="btn btn-primary" data-toggle="modal"
  [attr.data-target]="oneModal?'#one':'#id'+smartRule.ruleId" (click)="getLogs()">View histories</button>

<!-- Modal -->
<div [id]="oneModal?'one':'id'+smartRule.ruleId" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title">Histories of <strong>{{smartRule?.ruleName}}</strong></h3>
      </div>
      <div class="modal-body" style="max-height: calc(100vh - 200px); overflow-y: auto;">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Updated</th>
              <th>Audit</th>
            </tr>
          </thead>
          <tbody *ngIf="data">
            <tr *ngFor="let r of data" style="text-align: left!important;">
              <td>{{r.updatedBy}}<br />{{r.updatedDate}}</td>
              <td><span *ngFor="let a of r.auditValues">{{a}}<br /></span></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>